<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Електронна звітність" thread-count="1" verbose="1">
    <test name="Електронна звітність. Усі тести разом." >
        <classes>
            <class name="eReportP24.TestRunner" />
        </classes>
    </test>
</suite>